<h1>Director #<%= @the_director.id %> details</h1>

<a href="/directors>Go Back</a>

<hr>

<dl>
  <dt>Name</dt>
  <dd><%= @the director.name %></dd>

  <dt></dt>
  <dd><%= @the director.name %></dd>

  <dt></dt>
  <dd><%= @the director.name %></dd>

  <dt></dt>
  <dd><%= @the director.name %></dd>

  <dt></dt>
  <dd><%= @the director.name %></dd>
</dl>

</hr>

<%= @the_director.dob %>
